name: Openwrt Build Bot
on:
  push:
    branches: master
  schedule:
  - cron: 0 18 * * *

jobs:
  buildpkg:
    name: Build Openwrt Package
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        SDK_URL:
        #- https://downloads.openwrt.org/releases/22.03.3/targets/ipq806x/generic/openwrt-sdk-22.03.3-ipq806x-generic_gcc-11.2.0_musl_eabi.Linux-x86_64.tar.xz
        #- https://downloads.openwrt.org/releases/22.03.3/targets/ipq40xx/generic/openwrt-sdk-22.03.3-ipq40xx-generic_gcc-11.2.0_musl_eabi.Linux-x86_64.tar.xz
        #- https://downloads.openwrt.org/releases/22.03.3/targets/ramips/mt7621/openwrt-sdk-22.03.3-ramips-mt7621_gcc-11.2.0_musl.Linux-x86_64.tar.xz
        #- https://downloads.openwrt.org/releases/22.03.3/targets/ath79/generic/openwrt-sdk-22.03.3-ath79-generic_gcc-11.2.0_musl.Linux-x86_64.tar.xz
        #- https://downloads.openwrt.org/releases/22.03.3/targets/ath79/nand/openwrt-sdk-22.03.3-ath79-nand_gcc-11.2.0_musl.Linux-x86_64.tar.xz
        - https://downloads.openwrt.org/releases/22.03.3/targets/x86/64/openwrt-sdk-22.03.3-x86-64_gcc-11.2.0_musl.Linux-x86_64.tar.xz
        - https://downloads.openwrt.org/releases/22.03.3/targets/rockchip/armv8/openwrt-sdk-22.03.3-rockchip-armv8_gcc-11.2.0_musl.Linux-x86_64.tar.xz
    steps:
    - uses: actions/checkout@master
    - name: Env for Openwrt SDK
      run: sudo apt install -y libev-dev libc-ares-dev libudns-dev libncurses-dev
    - name: Download Openwrt SDK
      env:
        SDK_URL: ${{ matrix.SDK_URL }}
      run: |
        SDK_HOME=$(head -c -8 <<< $(basename $SDK_URL))
        wget $SDK_URL
        tar xf $(basename $SDK_URL) -C ~/
        mv ~/$SDK_HOME ~/sdk
        cp key-build ~/sdk/
    - name: Download Packages
      run: |
        cd ~/sdk
        # push everything to a new local repo
        git init --bare repo && git clone ./repo pw
        git clone -b packages https://github.com/xiaorouji/openwrt-passwall.git pw/pw-pkgs
        git clone -b luci https://github.com/xiaorouji/openwrt-passwall.git pw/pw-luci
        mv pw/pw-pkgs/* pw/ && mv pw/pw-luci/* pw/ && rm -rf pw/pw-pkgs pw/pw-luci
        cd pw && git config user.name "bot" && git config user.email "bot@github.com" && git add . && git commit -m "init" && git push && cd .. && rm -rf pw
        # add local repo to feeds
        echo "src-git passwall $PWD/repo" >> feeds.conf.default
        ./scripts/feeds update -a 
        ./scripts/feeds install -a -f -p passwall
        ./scripts/feeds install luci-app-passwall
    - name: Compile
      run: |
        cd ~/sdk
        # enable all packages
        make defconfig
        cat .config | grep passwall | sed 's| is not set|=y|g; s|# ||g'  > my.config
        sed "s|CONFIG_PACKAGE_luci-app-passwall_Iptables_Transparent_Proxy=y|CONFIG_PACKAGE_luci-app-passwall_Iptables_Transparent_Proxy=n|g" my.config > .config
        make defconfig
        # build packages
        make package/luci-app-passwall/compile V=s
        make package/index
    - name: Upload
      env:
        SDK_URL: ${{ matrix.SDK_URL }}
        GITHUB_TOKEN: ${{ secrets.TOKEN }}
      run: |
        TAG=$(sed -n 's/.*targets\/\(\w*\)\/\(\w*\)\/.*/packages\/\1\/\2/p' <<< $SDK_URL)
        # Upload base only
        cd ~/sdk/bin/packages/*/passwall
        git init
        git config user.name "bot"
        git config user.email "bot@github.com"
        git add .
        git commit -m "$TAG$(TZ='Asia/Shanghai' date +@%Y%m%d)"
        git push --force --quiet "https://$GITHUB_TOKEN@github.com/zlwu/passwall-dist.git" HEAD:$TAG
